@page "/Mantenedores/TipoVehiculos"
@layout MainLayout

<div class="h-[calc(100vh-60px)]  relative overflow-y-auto overflow-x-hidden p-4 space-y-4 detached-content">

    <nav class="w-full">
        <ul class="space-y-2 detached-breadcrumb">
            <li class="text-xs dark:text-white/80">Mantenedor</li>
            <li class="text-xl font-semibold text-slate-800 dark:text-slate-100">Tipos de vehiculo</li>
        </ul>
    </nav>
    <!-- Start All Card -->



    <div class="card">
        <h2 class="mb-4 text-base font-semibold text-black capitalize dark:text-white/80">Editor</h2>
        
       

    </div>

</div>

