@page "/Procesos/CargaCombustible"
@layout MainLayout
@using Radzen;

<h3>CargaCombustible</h3>

<RadzenButton Click="@ButtonClicked" Text="Hi"></RadzenButton>
@code {
  void ButtonClicked()
  {
    // Handle the Click event of RadzenButton
  }
}
 